<% @expenses = current_user.employee.expenses.order("month desc") if current_user.employee %>

<table id="expense-table" class="table table-sm table-responsive-lg mt-4" style="font-size:0.7rem">
    
    <thead class="text-dark">
      <tr>
        <th>Year-Month</th>
        <th>Submitted?</th>
        <th>Approve Status</th>
        <th>Reject Status</th>
        <% if current_user %>
        <th>Action</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="text-dark" id="expense-row">
        <% unless @expenses.nil? %>
        <% @expenses.each do |t| %>
        <tr>
            <td>
                <span class="bg-secondary rounded p-1 m-1">>> <%= link_to t.session, listadd_expense_path(t), remote: true %></span>
            </td>
            <td>
                <%="YES" if t.submitted%>
                <%="NO" unless t.submitted%>
            </td>
            <td><%=t.expense_approvals.where(approval: true).count%>/<%=t.expense_approvals.count%></td>
            <td><%=t.expense_approvals.where(reject: true).count%>/<%=t.expense_approvals.count%></td>
            <% if current_user %>
            <% unless t.submitted %>
            <td>
                <span class="bg-success rounded p-1 m-1"><%= link_to 'Edit', edit_expense_path(t), class: "small text-white m-1", remote: true %></span>
                <span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', t, method: :delete, class: "small text-white m-1", remote: true, data: { confirm: 'Confirm Delete?' } %>
            </span></td>
            <% else %>
            <td></td>
            <% end %>
            <% end %>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>

<script>
loadjs('#expense-table', 0, 10, 'rtp');
</script>