<% @timesheets = current_user.employee.timesheets.order("month desc") if current_user.employee %>

<table id="timesheet-table" class="table table-sm table-responsive-lg mt-4" style="font-size:0.8rem">
    
    <thead class="text-dark">
      <tr>
        <th>Category</th>
        <th>Project</th>
        <th>Year-Month</th>
        <th>Submitted?</th>
        <th>Approve Status</th>
        <th>Reject Status</th>
        <% if current_user %>
        <th>Approval</th>
        <th>Task</th>
        <th>Edit</th>
        <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="text-dark" id="timesheet-row">
        <% unless @timesheets.nil? %>
        <% @timesheets.each do |t| %>
        <tr>
            <td><%=t.timesheet_category.name%></td>
            <td><%=t.project.name%></td>
            <td><%=t.year%>-<%=t.month%></td>
            <td><%=t.submitted%></td>
            <td><%=t.timesheet_approvals.where(approval: true).count%>/<%=t.timesheet_approvals.count%></td>
            <td><%=t.timesheet_approvals.where(reject: true).count%>/<%=t.timesheet_approvals.count%></td>
            <% if current_user == t.employee.user %>
            <td><span class="bg-primary rounded p-1 m-1"><%= link_to 'Approval', approvaladd_timesheet_path(t), class: "small text-white", remote: true %></span></td>
            <td><span class="bg-info rounded p-1 m-1"><%= link_to 'Task', taskadd_timesheet_path(t), class: "small text-white", remote: true %></span></td>
            <td><span class="bg-success rounded p-1 m-1"><%= link_to 'Edit', edit_timesheet_path(t), class: "small text-white", remote: true %></span></td>
            <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', t, method: :delete, class: "small text-white", remote: true, data: { confirm: 'Confirm Delete?' } %></span></td>
            <% end %>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>