<table id="holidays-table" class="table table-sm table-responsive-lg" style="font-size:0.7rem">
  <h4 class="text-left text-primary">Holiday Lists</h4>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <% if current_user.webrole.wr_hr %>
      <th>Activate</th>
      <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="text-dark">
    <% unless @holidays.nil? %>
    <% @holidays.each do |e| %>
    <tr>
        <td><%=e.date%></td>
        <td><%=e.remarks%></td>
        <% if current_user.webrole.wr_hr %>
        <td>
          <label class="custom-toggle">
            <%= check_box_tag(
              "Holiday_List", e.id, e.activate,
              name: "activate-holiday-#{e.id}",
              data: {
              remote: true,
              url: url_for(controller: 'holidays', action: 'activate', id: e.id),
              method: 'POST' }) %>
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
        </td>
        <td>
          <span class="mt-2"><%= link_to 'E', edit_holiday_path(e), method: :get, class: "btn-sm btn-success", remote: true %></span>
          <span class="mt-2"><%= link_to 'D', e, method: :delete, class: "btn-sm btn-danger", remote: true, data: { confirm: 'Press OK to confirm delete.' } %></span>
        </td>
        <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<script>
loadjs('#holidays-table', 0, 25, 'Blfrtip');
</script>
