<br><br><br>
<div class="container">
    <div class="jumbotron">
        <div class="row justify-content-center m-4">
            <h2 class="text-dark text-special sm-2">Reset Password</h2>
            <br><br><br>
        </div>

        <div class="row justify-content-center m-4 p-4">
          <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
            <div class='field'>
              <%= f.label :password %>
              <%= f.password_field :password , class: "form-control form-control-sm mb-2 mt-2"%>
            </div>
            <div class='field'>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control form-control-sm mb-2 mt-2" %>
            </div>
            <div class='actions'><%= f.submit 'Update password', class: "btn btn-primary text-center mb-2 mt-2" %></div>
          <% end %>
        </div>
        
    </div>
</div>
<br><br><br>

