<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "New Employee", new_employee_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
      <%= form_tag import_employees_path, remote: true, multipart: true do %>
        <%= file_field_tag :file, class: "bg-white rounded"  %>
        <%= submit_tag "Import CSV", class: "btn btn-success btn-sm", method: :post  %>
      <% end %>
  </div>
</div>

<br>
<div class="row">
  <%= button_to "All", employees_path, method: "get", remote: true, class: "col btn btn-sm badge-secondary m-2" %>
  <%= button_to "Active" , employees_path, params: {value: 0}, method: "get", remote: true, class: "col btn btn-sm badge-success m-2" %>
  <%= button_to "Archieved" , employees_path, params: {value: 1}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
</div>
<br>

<div id="employee-table">
  <%= render partial: "employees/table" %>
</div>