<%= form_for @employee, id: 'new-employee-form', remote: true  do |f| %>

    <h5 class="text-special text-success">Employee Detail</h5>
    <div class="row text-special text-dark mt-2 mb-3">
      <div class="col-lg-2 col-md-6 mb-2">
        <label>Full Name*</label>
        <div><%= f.text_field :full_name, placeholder: "Full Name", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>IC/Passport No*</label>
        <div><%= f.text_field :identity_no, placeholder: "IC/Passport No.", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Personal Email*</label>
        <div><%= f.text_field :personal_email, placeholder: "eg: username@gmail.com", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Company Email*</label>
        <div><%= f.text_field :company_email, placeholder: "eg: username@magicell.com.my", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Phone Number*</label>
        <div><%= f.text_field :phone_number, placeholder: "Phone Number", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Phone Emergency*</label>
        <div><%= f.text_field :phone_number_emergency, placeholder: "Phone Number", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Address*</label>
        <div><%= f.text_field :address, placeholder: "Address", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Gender</label>
        <%= f.select(:gender, ['Male','Female'], {include_blank: "Please Select"}, class: "custom-select custom-select-sm") %>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Nationality</label>
        <div><%= f.text_field :nationality, placeholder: "Nationality", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Race</label>
        <div><%= f.text_field :race, placeholder: "Race", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 mb-2">
        <label class="d-block">Birthday</label>
        <%= f.date_select :birthday, {start_year: Date.today.year - 15, end_year: Date.today.year - 70, include_blank: "Select"}, class: "d-inline-block form-control form-control-sm", style: "width:30%;" %>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Marital Status</label>
        <%= f.select(:marital_status, ["Single","Married"], {include_blank: "Please Select"}, class: "custom-select custom-select-sm") %>
      </div>

      <div class="col-lg-2 col-md-6 mb-2">
        <label>Spouse Name</label>
        <%= f.text_field :spouse_name, placeholder: "Spouse Name", class: "form-control form-control-sm" %>
      </div>

      <div class="col-lg-2 col-md-3">
        <label>Annual Leave Entitled</label>
        <%= f.text_field :annual_leave_entitled, placeholder: 0, class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Annual Leave Taken</label>
        <%= f.text_field :annual_leave_taken, placeholder: 0, class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Medical Leave Entitled</label>
        <%= f.text_field :medical_leave_entitled, placeholder: 0, class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Medical Leave Taken</label>
        <%= f.text_field :medical_leave_taken, placeholder: 0, class: "form-control form-control-sm" %>
      </div>

    </div>

    <h5 class="text-special text-success">Employee Role</h5>
    <div class="row text-special text-dark mt-2 mb-3">
      <div class="col-lg-2 col-md-2 mb-2">
        <label>Employee ID</label>
        <%= f.text_field :employee_code, placeholder: "Job Title", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label>Job Title</label>
        <%= f.text_field :job_title, placeholder: "Job Title", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label class="d-block">Position</label>
        <%= f.select(:employee_position_id, EmployeePosition.all.collect {|e| [e.position, e.id]}, {include_blank: "Select One"}, class: "custom-select custom-select-sm") %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label class="d-block">Department (If Any)</label>
        <%= f.select(:department_id, Department.all.collect {|e| [e.name, e.id]}, {include_blank: "Select One"}, class: "custom-select custom-select-sm") %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label class="d-block">Project (If Any)</label>
        <%= f.select(:project_id, Project.all.collect {|e| [e.name, e.id]}, {include_blank: "Select One"}, class: "custom-select custom-select-sm") %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label>Base Salary (RM)</label>
        <%= f.text_field :base_salary, placeholder: 0, class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label>Fix Allowance (RM)</label>
        <%= f.text_field :fix_allowance, placeholder: 0, class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label>Type</label>
        <%= f.select(:category, Employee.categories.keys, {include_blank: "Please Select"}, class: "custom-select custom-select-sm") %>
      </div>
      <div class="col-lg-2 col-md-2 mb-2">
        <label>Status</label>
        <%= f.select(:employment_status, Employee.employment_statuses.keys, {include_blank: "Please Select"}, class: "custom-select custom-select-sm") %>
      </div>
    </div>

    <h5 class="text-special text-success">Employee Account</h5>
    <div class="row text-special text-dark mt-2 mb-3">
      <div class="col-lg-2 col-md-3">
        <label>Bank Name</label>
        <%= f.text_field :bank_name, placeholder: "Bank Name", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Bank Account</label>
        <%= f.text_field :bank_account, placeholder: "Bank Account", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>EPF Account</label>
        <%= f.text_field :epf_account, placeholder: "EPF Account", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>LHDN Account</label>
        <%= f.text_field :lhdn_account, placeholder: "LHDN Account", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Medical Card</label>
        <%= f.text_field :medical_account, placeholder: "Medical Card", class: "form-control form-control-sm" %>
      </div>
      <div class="col-lg-2 col-md-3">
        <label>Insurance Card</label>
        <%= f.text_field :insurance_account, placeholder: "Insurance Card", class: "form-control form-control-sm" %>
      </div>

    </div>
    

    <h5 class="text-special text-success">Contract Employee Only</h5>
    <div class="row text-special text-dark mt-2 mb-3">
      <div class="col-lg-3 col-md-3 mb-2">
        <label class="d-block">Start</label>
        <%= f.date_select :contract_start, {start_year: Date.today.year - 1, end_year: Date.today.year + 2, include_blank: "Select"}, class: "d-inline-block form-control form-control-sm", style: "width:30%;"%>
      </div>
      <div class="col-lg-3 col-md-3 mb-2">
        <label class="d-block">End</label>
        <%= f.date_select :contract_end, {start_year: Date.today.year - 1, end_year: Date.today.year + 2, include_blank: "Select"}, class: "d-inline-block form-control form-control-sm", style: "width:30%;"%>
      </div>
    </div>

<% end %>



