<table id="employees-table" class="table table-sm table-responsive-lg" style="font-size:0.7rem">
  <h4 class="text-left text-primary">Employee Lists</h4>
  <p class="text-info">Total: <%= Employee.all.count %></p>
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee ID</th>
      <th>Position</th>
      <th>Department</th>
      <th>Project</th>
      <th>Category</th>
      <th>Contract End</th>
      <% if current_user.webrole.wr_hr %>
      <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="text-dark">
    <% unless @employees.nil? %>
    <% @employees.each do |e| %>
    <tr class="<%=e.employment_status.downcase%>">
        <td><%=e.full_name%></td>
        <td><%=e.employee_code%></td>
        <td><%=e.employee_position.position if e.employee_position.position%></td>
        <td><%=e.department.name if e.department.name%></td>
        <td><%=e.project.name if e.project.name%></td>
        <td><%=e.category%></td>
        <td><%=e.contract_end if e.contract_end%></td>
        <% if current_user.webrole.wr_hr %>
        <td>
          <span class="bg-success rounded p-1 m-1"><%= link_to 'Edit', edit_employee_path(e), class: "small text-white m-1", remote: true %></span>
        </td>
        <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<script>
loadjs('#employees-table', 1, 25, 'Blfrtip');
</script>
