<% @ts1 = current_user.primary_tsas %>
<% @ts2 = current_user.secondary_tsas %>

<h4 class="text-left text-primary">Timesheets Approval</h4>
<table id="ts-table" class="table table-sm table-responsive-lg" style="font-size:0.8rem">
  
  <thead class="text-dark">
    <tr>
      <th>Name</th>
      <th>Month</th>
      <th>Detail</th>
      <th>Approve?</th>
    </tr>
  </thead>

  <tbody class="text-dark">
  <% unless @ts1.nil? %>
  <% @ts1.each do |t| %>
    <tr>
      <td><%=t.employee.full_name%></td>
      <td><%=t.month%></td>
      <td>(Click)</td>
      <td>
        <%= check_box_tag(
            "completed", t.id, t.apv_1,
            data: {
            remote: true,
            url: url_for(controller: 'timesheet_approvals', action: 'ts_approval1', id: t.id),
            method: 'POST' }) %>
      </td>
    </tr>
  <% end %>
  <% end %>
  <% unless @ts2.nil? %>
  <% @ts2.each do |t| %>
    <tr>
      <td><%=t.employee.full_name%></td>
      <td><%=t.month%></td>
      <td>(Click)</td>
      <td>
        <%= check_box_tag(
            "completed", t.id, t.apv_2,
            data: {
            remote: true,
            url: url_for(controller: 'timesheet_approvals', action: 'ts_approval2', id: t.id),
            method: 'POST' }) %>
      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>

</table>

<hr>

<% @leap1 = current_user.primary_las %>
<% @leap2 = current_user.secondary_las %>
<h4 class="text-left text-primary">Leaves Approval</h4>
<table id="la-table" class="table table-sm table-responsive-lg" style="font-size:0.8rem">
  
  <thead class="text-dark">
    <tr>
      <th>Name</th>
      <th>Leave</th>
      <th>Reason</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Days</th>
      <th>Annual</th>
      <th>Medical</th>
      <th>Approve?</th>
    </tr>
  </thead>

  <tbody class="text-dark">
  <% unless @leap1.nil? %>
  <% @leap1.each do |l| %>
    <tr>
      <td><%=l.employee.full_name%></td>
      <td><%=l.leavetype.name%></td>
      <td><%=l.reason%></td>
      <td><%=l.contact_person%> <%=l.contact_number%></td>
      <td><%=l.from_date%><%=l.from_ampm%>:<%=l.to_date%><%=l.to_ampm%></td>
      <td><%=l.total_days%></td>
      <td><%=l.employee.annual_leave_taken%>/<%=l.employee.annual_leave_entitled%></td>
      <td><%=l.employee.medical_leave_taken%>/<%=l.employee.medical_leave_entitled%></td>
      <td>
        <%= check_box_tag(
            "completed", l.id, l.apv_1,
            data: {
            remote: true,
            url: url_for(controller: 'leaveaps', action: 'leave_approval1', id: l.id),
            method: 'POST' }) %>
      </td>
  <% end %>
  <% end %>
  <% unless @leap2.nil? %>
  <% @leap2.each do |l| %>
    <tr>
      <td><%=l.employee.full_name%></td>
      <td><%=l.leavetype.name%></td>
      <td><%=l.reason%></td>
      <td><%=l.contact_person%> <%=l.contact_number%></td>
      <td><%=l.from_date%> <%=l.from_ampm%> to <%=l.to_date%> <%=l.to_ampm%></td>
      <td><%=l.total_days%></td>
      <td>
        <%= check_box_tag(
            "completed", l.id, l.apv_2,
            data: {
            remote: true,
            url: url_for(controller: 'leaveaps', action: 'leave_approval2', id: l.id),
            method: 'POST' }) %>
      </td>
  <% end %>
  <% end %>
  </tbody>

  
</table>