<h4 class="text-left text-success">Expenses Claim Approval</h4>

<table id="manager-expense-approval" class="table table-sm table-responsive-xl mt-4" style="font-size:0.7rem">
    
    <thead>
      <tr>
        <th style="width:10rem;">Employee</th>
        <th style="width:5rem;">Session</th>
        <th style="width:10rem;">Total Claims</th>
        <th style="width:5rem;">Show</th>
        <th>Approve</th>
        <th>Reject</th>
        <th>Reject Reason</th>
      </tr>
    </thead>

    <tbody class="text-dark" id="expense-row">
        <% unless @expenses.nil? %>
        <% @expenses.each do |a| %>
        <tr>
            <td><%=a.employee.full_name%></td>
            <td><%=a.expense.session%></td>
            <td>RM <%=a.expense.total_claims%></td>
            <td><%= button_to 'Show', expense_approval_path(a), method: "get", class: "btn-sm btn-success", remote: true %></td>
            <td>
                <label class="custom-toggle">
                <%= check_box_tag(
                "Manager_Expense_Approval", a.id, a.approval,
                name: "manager-expense-approval-#{a.id}",
                data: {
                remote: true,
                url: url_for(controller: 'expense_approvals', action: 'approve', id: a.id),
                method: 'POST' }) %>
                <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </td>
            <td>
                <label class="custom-toggle">
                <%= check_box_tag(
                "Manager_Expense_Rejection", a.id, a.reject,
                name: "manager-expense-rejection-#{a.id}",
                data: {
                remote: true,
                url: url_for(controller: 'expense_approvals', action: 'reject', id: a.id),
                method: 'POST' }) %>
                <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </td>
            <td><%=a.reject_reason%></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>


<script>
loadjs('#manager-expense-approval', 1, 50, 'Blfrtip');
</script>