<h4 class="text-left text-success">Leaves Approval</h4>

<div id="leave-approval-section">
<table id="leave-approval-table" class="table table-sm table-responsive" style="font-size:0.7rem">
  
  <thead class="text-dark">
    <tr>
      <th>Name</th>
      <th>Leave</th>
      <th>After</th>
      <th>Reason</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Working Days</th>
      <th>Attachment</th>
      <th>Submitted</th>
      <th>Approval</th>
    </tr>
  </thead>

  <tbody class="text-dark">
  <% unless @leaveaps.nil? %>
  <% @leaveaps.each do |l| %>
    <tr id="lva-<%=l.id %>">
      <td><%=l.employee.full_name%></td>
      <td><%=l.leavetype.name%></td>
      <td>
        <% if l.leavetype_id == 1%>
        <span class="text-success">(<%=l.employee.annual_leave_taken + l.total_days%>)</span> / <%=l.employee.annual_leave_entitled%>
        <% elsif l.leavetype_id == 2%>
        <span class="text-success">(<%=l.employee.medical_leave_taken + l.total_days%>)</span> / <%=l.employee.medical_leave_entitled%>
        <% end %>
      </td>
      <td><%=l.reason%></td>
      <td><%=l.contact_person%> <%=l.contact_number%></td>
      <td>
      <ul class="list-unstyled">
        <li><%=l.from_date%> <%=l.from_ampm%> ></li>
        <li><%=l.to_date%> <%=l.to_ampm%></li>
      <ul>
      </td>
      <td><%=l.total_days%></td>
      <td><%= (link_to "Click", "http://#{l.url}", target: "_blank") if l.attachment_link.present? %></td>
      <td><%=(time_ago_in_words(l.submitted_at).chomp("about")) if l.submitted_at%></td>
      <td>
        <% if l.apv_mgr_1_id === current_user.employee.id %>
          <% unless l.apv_1 %>
            <%= link_to 'Approve', approve_leaveap_path(l, value: 1), method: :post, class: "bg-success rounded p-1 m-1 small text-white m-1", remote: true %>
            <%= link_to 'Reject', reject_leaveap_path(l, value: 1), method: :post, class: "bg-danger rounded p-1 m-1 small text-white m-1", remote: true %>
          <% else %>
            <span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span>
          <% end %>
        <% elsif l.apv_mgr_2_id == current_user.employee.id %>
          <% unless l.apv_2 %>
            <%= link_to 'Approve', approve_leaveap_path(l, value: 2), method: :post, class: "bg-success rounded p-1 m-1 small text-white m-1", remote: true %>
            <%= link_to 'Reject', reject_leaveap_path(l, value: 2), method: :post, class: "bg-danger rounded p-1 m-1 small text-white m-1", remote: true %>
          <% else %>
            <span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span>
          <% end %>
        <% else %>
            <span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span>
        <% end %>
      </td>
    <tr>
  <% end %>
  <% end %>
  </tbody>
  
</table>
</div>

<script>
loadjs('#leave-approval-table', 5, 50, 'Blfrtip');
</script>