<h4 class="text-left text-primary">Timesheet Approval</h4>

<table id="manager-timesheet-approval" class="table table-sm table-responsive-lg mt-4" style="font-size:0.8rem">
    
    <thead>
      <tr>
        <th style="width:10rem;">Employee</th>
        <th style="width:5rem;">Session</th>
        <th style="width:5rem;">Total Hours</th>
        <th style="width:5rem;">Show</th>
        <th>Approval</th>
        <th>Reject Reason</th>
      </tr>
    </thead>

    <tbody class="text-dark" id="timesheet-row">
        <% unless @timesheets.nil? %>
        <% @timesheets.each do |a| %>
        <tr>
            <td><%=a.employee.full_name%></td>
            <td><%=a.timesheet.session%></td>
            <td><%=a.timesheet.total_hours%>h</td>
            <td><%= button_to 'Show', timesheet_approval_path(a), method: "get", class: "btn-sm btn-success", remote: true %></td>
            <td>
                <label class="custom-toggle">
                <%= check_box_tag(
                "Manager_Timesheet_Approval", a.id, a.approval,
                name: "manager-timesheet-approval-#{a.id}",
                data: {
                remote: true,
                url: url_for(controller: 'timesheet_approvals', action: 'approve', id: a.id),
                method: 'POST' }) %>
                <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </td>
            <td><%=a.reject_reason%></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>

<script>
loadjs('#manager-timesheet-approval', 1, 50, 'Blfrtip');
</script>

