<% @leap1 = Leaveap.where(apv_mgr_1_id: current_user.employee.id) %>
<% @leap2 = Leaveap.where(apv_mgr_2_id: current_user.employee.id) %> 

<h4 class="text-left text-success">Leaves Approval</h4>
<table id="la-table" class="table table-sm table-responsive-lg" style="font-size:0.7rem">
  
  <thead class="text-dark">
    <tr>
      <th>Name</th>
      <th>Leave</th>
      <th>Reason</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Days</th>
      <th>Annual</th>
      <th>Medical</th>
      <th>Approve?</th>
    </tr>
  </thead>

  <tbody class="text-dark">
  <% unless @leap1.nil? %>
  <% @leap1.each do |l| %>
    <tr>
      <td><%=l.employee.full_name%></td>
      <td><%=l.leavetype.name%></td>
      <td><%=l.reason%></td>
      <td><%=l.contact_person%> <%=l.contact_number%></td>
      <td><%=l.from_date%> <%=l.from_ampm%> to <%=l.to_date%> <%=l.to_ampm%></td>
      <td><%=l.total_days%></td>
      <td><%=l.employee.annual_leave_taken%>/<%=l.employee.annual_leave_entitled%></td>
      <td><%=l.employee.medical_leave_taken%>/<%=l.employee.medical_leave_entitled%></td>
      <td>
        <label class="custom-toggle">
                <%= check_box_tag(
                "Leave_Approval_1", l.id, l.apv_1,
                name: "leave-approval1-#{l.id}",
                data: {
                remote: true,
                url: url_for(controller: 'leaveaps', action: 'leave_approval1', id: l.id),
                method: 'POST' }) %>
                <span class="custom-toggle-slider rounded-circle"></span>
          </label>
      </td>
  <% end %>
  <% end %>
  <% unless @leap2.nil? %>
  <% @leap2.each do |l| %>
    <tr>
      <td><%=l.employee.full_name%></td>
      <td><%=l.leavetype.name%></td>
      <td><%=l.reason%></td>
      <td><%=l.contact_person%> <%=l.contact_number%></td>
      <td><%=l.from_date%> <%=l.from_ampm%> to <%=l.to_date%> <%=l.to_ampm%></td>
      <td><%=l.total_days%></td>
      <td><%=l.employee.annual_leave_taken%>/<%=l.employee.annual_leave_entitled%></td>
      <td><%=l.employee.medical_leave_taken%>/<%=l.employee.medical_leave_entitled%></td>
      <td>
        <label class="custom-toggle">
                <%= check_box_tag(
                "Leave_Approval_2", l.id, l.apv_2,
                name: "leave-approval1-#{l.id}",
                data: {
                remote: true,
                url: url_for(controller: 'leaveaps', action: 'leave_approval2', id: l.id),
                method: 'POST' }) %>
                <span class="custom-toggle-slider rounded-circle"></span>
          </label>
      </td>
  <% end %>
  <% end %>
  </tbody>

  
</table>


<script>
loadjs('#la-table', 4, 50, 'Blfrtip');
</script>