<div class="row justify-content-center mt-4 mb-4">
    <div class="col-lg-6">
        <div class="card text-special bg-secondary shadow border-0">
            <div class="card-header text-center bg-white">
                <h4 class="text-dark">Greetings! <%= @whoto %></h4>
                <h5 class="text-primary">Your Leave Application have been rejected by <%= @whofrom %>.</h5>

                <h5>
                    <ul>
                        <li>Leave Type: <%=@leaveap.leavetype.name%></li>
                        <li>Reason: <%=@leaveap.reason%></li>
                        <li>Contact Person: <%=@leaveap.contact_person%></li>
                        <li>Contact Number: <%=@leaveap.contact_number%></li>
                        <li>From: <%=@leaveap.from_date%> <%=@leaveap.from_ampm%></li>
                        <li>To: <%=@leaveap.to_date%> <%=@leaveap.to_ampm%></li>
                        <li>Days: <%=@leaveap.total_days%></li>
                    </ul>
                </h5>

            </div>
        </div>
    </div>
</div>

<h5>Don't know what this is?</h5>
<h6>This message is autosent from <a href="http://magicell.herokuapp.com/magicnet">magicell.com.my</a>.</h6>
<h6>Please do not reply on this email.</h6>
