<h4 class="text-left">New Leave</h4>

<%= form_for @leaveap, remote: true do |f| %>
    <%= f.hidden_field :employee_id, value: current_user.employee.id %>

    <div class="row mt-2 mb-3">
      <div class="col-3">
        <div>Leave Type</div>
        <div><%= f.text_field :reason, placeholder: "Leave Type", class: "form-control-sm" %></div>
      </div>

      <div class="col-3">
        <div>Reason</div>
        <div><%= f.text_field :reason, placeholder: "Reason", class: "form-control-sm" %></div>
      </div>

      <div class="col-3">
        <div>Contact Person</div>
        <div><%= f.text_field :contact_person, placeholder: "Contact Person", class: "form-control-sm" %></div>
      </div>

      <div class="col-3">
        <div>Contact Number</div>
        <div><%= f.text_field :contact_number, placeholder: "Contact Number", class: "form-control-sm" %></div>
      </div>
    </div>

    <div class="mx-auto">
      <%= f.submit "Submit Application", class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
    </div>
    

<% end %>