<%= form_for @leaveap, remote: true do |f| %>

    <%= f.hidden_field :employee_id, value: current_user.employee.id %>

    <div class="bg-white rounded p-2">
      <div class="text-dark small">Notes:</div>
      <div class="text-dark small">1. For Medical Leave, screenshot and copy the uploaded link.</div>
      <div class="text-danger small"><i>* Mandatory Input</i></div>
    </div>

    <div class="row mt-2 mb-3 text-dark text-special datepicker input-daterange">
      <div class="form-group col-lg-6 col-md-12">
        <label>From*</label>
        <div class="input-group">
          <%= f.text_field :from_date, class: "form-control form-control-sm", placeholder: "Please Select" %>
          <div class="input-group-append">
            <%= f.select(:from_ampm, ["AM","PM"], {include_blank: "Please Select"}, class: "custom-select custom-select-sm") %>
          </div>
        </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <label>To*</label>
          <div class="input-group input-group-alternative">
          <%= f.text_field :to_date, class: "form-control form-control-sm", placeholder: "Please Select" %>
          <div class="input-group-append">
            <%= f.select(:to_ampm, ["AM","PM"], {include_blank: "Please Select"}, class: "custom-select custom-select-sm") %>
          </div>
        </div>
       </div>
    </div>
    
    <div class="row mt-2 mb-3 text-dark text-special">
      <div class="col-lg-3 col-md-6 mb-2">
        <label>Leave Type*</label>
        <div><%= f.select(:leavetype_id, Leavetype.all.collect {|l| [ l.name, l.id ] }, {include_blank: "Select Leave Type"}, id: "leave-type", class: "custom-select custom-select-sm") %></div>
      </div>

      <div class="col-lg-3 col-md-6 mb-2">
        <label>Reason*</label>
        <div><%= f.text_field :reason, placeholder: "Reason", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 col-md-6 mb-2">
        <label>Contact Person*</label>
        <div><%= f.text_field :contact_person, placeholder: "Contact Person", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 col-md-6 mb-2">
        <label>Contact Number*</label>
        <div><%= f.text_field :contact_number, placeholder: "Contact Number", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 col-md-6 mb-2">
        <label>Approval 1*</label>
        <div><%= f.select(:apv_mgr_1_id, Employee.where(employee_position_id: 2).collect {|e| [e.full_name, e.id]}, {include_blank: "Select Manager Approval"}, class: "custom-select custom-select-sm") %></div>
      </div>

      <div class="col-lg-3 col-md-6 mb-2">
        <label>Approval 2 (Optional)</label>
        <div><%= f.select(:apv_mgr_2_id, Employee.where(employee_position_id: 2).collect {|e| [e.full_name, e.id]}, {include_blank: "Select Manager Approval"}, class: "custom-select custom-select-sm") %></div>
      </div>

      <div id="mc-attachment" class="col-lg-6 col-md-6 mb-2" style="display: none;">
        <label>Attachment (MC)</label>
        <div><%= f.text_field :attachment_link, placeholder: "eg: Upload to google drive and paste the link here", class: "form-control form-control-sm" %></div>
      </div>

    </div>

    <div class="text-special mx-auto">
      <div class="text-dark">Total: <span id="calc-days"><%=@leaveap.days.to_i%></span> Working Days</div>
      <% unless action_name == "edit"%>
      <%= f.submit "Create", class: "btn btn-primary", data: { confirm: "Are you confirm with this leave application?" } %>
      <% end %>
    </div>
    
<% end %>

<script>

var disabledDays = <%=raw Holiday.list%>;

$(function(){

  const leveapFrom = document.querySelector('#leaveap_from_date');
  const leveapTo = document.querySelector('#leaveap_to_date');
  const ampmFrom = document.querySelector('#leaveap_from_ampm');
  const ampmTo = document.querySelector('#leaveap_to_ampm');
  const result = document.querySelector('#calc-days');

  leveapFrom.addEventListener('input', calc);
  leveapTo.addEventListener('input', calc);
  ampmFrom.addEventListener('input', calc);
  ampmTo.addEventListener('input', calc);

  function calc() {
    var fromDate = String(leveapFrom.value);
    var toDate = String(leveapTo.value);
    var fromAmpm = String(ampmFrom.value);
    var toAmpm = String(ampmTo.value);
    var date1 = new Date(fromDate)
    var date2 = new Date(toDate)
    for(var days=0; date1<=date2; ) {
      var holiday = disabledDays.includes(date1.toISOString().substring(0, 10))
      if(date1.getDay()>0 && date1.getDay()<6)
        if(holiday == false){days++;}
      date1.setDate(date1.getDate()+1);
    }
    if (fromAmpm == "PM") {days -= 0.5;}
    if (toAmpm == "AM") {days -= 0.5;}
    result.innerHTML = days;
  }
  
  $('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    datesDisabled: disabledDays,
    daysOfWeekDisabled: [6,0],
    todayHighlight: true
  })
  .change(calc)
  .on('changeDate',calc);

});

const leavetype = document.querySelector('#leave-type');
leavetype.addEventListener('input', change);

function change() {
  var x = leavetype.options[leavetype.selectedIndex].innerHTML; 
  if (x.includes("Medical Leave")){$("#mc-attachment").show();}
  else {$("#mc-attachment").hide();}
}

</script>




