<%= render partial: "leaveaps/form" %>

<hr>

<table id="leave-table" class="table table-sm table-responsive-lg" style="font-size:0.8rem">
  <h4 class="text-left">Leave History</h4>
  <thead class="text-dark">
    <tr>
      <th>Leave</th>
      <th>Reason</th>
      <th>Contact</th>
      <th>Person</th>
      <th>From</th>
      <th>To</th>
      <th>Days</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody class="text-dark">
      <% unless @leaveaps.nil? %>
      <% @leaveaps.each do |l| %>
      <tr>
        <td><%=l.leave_type%></td>
        <td><%=l.reason%></td>
        <td><%=l.contact_person%></td>
        <td><%=l.contact_number%></td>
        <td><%=l.from_date%></td>
        <td><%=l.to_date%></td>
        <td><%=l.leave_type%></td>
        <td><%=l.reason%></td>
      </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
