<h4 class="text-left text-success">Your Leave Summary</h4>
<div id="employee-leave-summary" class="row" style="font-size:0.7rem">
  <div class="col-8">
    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <th class="text-center" colspan="7">Days</th>
        </tr>
        <tr>
          <th>Leave Types</th>
          <th>Entitled (2020)</th>
          <th>Taken (2020)</th>
          <th>Pending Submit</th>
          <th>Pending Approval</th>
          <th>Rejected</th>
          <th>Approved</th>
        </tr>
      </thead>
      <% @leaveaps = current_user.employee.leaveaps %>
      <tbody>
        <tr>
          <td><%= Leavetype.find(1).name %></td>
          <td><%= current_user.employee.annual_leave_entitled %></td>
          <td><%= current_user.employee.annual_leave_taken %></td>
          <td class="badge-secondary"><%= @leaveaps.where(leavetype_id: 1, status_leave_id: 1).sum(:days) %></td>
          <td class="badge-primary"><%= @leaveaps.where(leavetype_id: 1, status_leave_id: 2).sum(:days) %></td>
          <td class="badge-danger"><%= @leaveaps.where(leavetype_id: 1, status_leave_id: 3).sum(:days) %></td>
          <td class="badge-success"><%= @leaveaps.where(leavetype_id: 1, status_leave_id: 4).sum(:days) %></td>
        </tr>

        <tr>
          <td><%= Leavetype.find(2).name %></td>
          <td><%= current_user.employee.medical_leave_entitled %></td>
          <td><%= current_user.employee.medical_leave_taken %></td>
          <td class="badge-secondary"><%= @leaveaps.where(leavetype_id: 2, status_leave_id: 1).sum(:days) %></td>
          <td class="badge-primary"><%= @leaveaps.where(leavetype_id: 2, status_leave_id: 2).sum(:days) %></td>
          <td class="badge-danger"><%= @leaveaps.where(leavetype_id: 2, status_leave_id: 3).sum(:days) %></td>
          <td class="badge-success"><%= @leaveaps.where(leavetype_id: 2, status_leave_id: 4).sum(:days) %></td>
        </tr>

        <tr>
          <td><%= Leavetype.find(8).name %></td>
          <td><%= current_user.employee.children_count %>.0</td>
          <td><%= @leaveaps.where(leavetype_id: 8, status_leave_id: 4).sum(:days) %></td>
          <td class="badge-secondary"><%= @leaveaps.where(leavetype_id: 8, status_leave_id: 1).sum(:days) %></td>
          <td class="badge-primary"><%= @leaveaps.where(leavetype_id: 8, status_leave_id: 2).sum(:days) %></td>
          <td class="badge-danger"><%= @leaveaps.where(leavetype_id: 8, status_leave_id: 3).sum(:days) %></td>
          <td class="badge-success"><%= @leaveaps.where(leavetype_id: 8, status_leave_id: 4).sum(:days) %></td>
        </tr>

        <tr>
          <td><%= Leavetype.find(3).name %></td>
          <td>N/A</td>
          <td><%= @leaveaps.where(leavetype_id: 3, status_leave_id: 4).sum(:days) %></td>
          <td class="badge-secondary"><%= @leaveaps.where(leavetype_id: 3, status_leave_id: 1).sum(:days) %></td>
          <td class="badge-primary"><%= @leaveaps.where(leavetype_id: 3, status_leave_id: 2).sum(:days) %></td>
          <td class="badge-danger"><%= @leaveaps.where(leavetype_id: 3, status_leave_id: 3).sum(:days) %></td>
          <td class="badge-success"><%= @leaveaps.where(leavetype_id: 3, status_leave_id: 4).sum(:days) %></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<hr>

<div id="employee-leave-form">
  <h4 class="text-left text-success">New Leave</h4>
  <%= render partial: "leaveaps/form" %>
</div>

<hr>

<div id="leveaps-list">
  <h4 class="text-left text-success">Leave History</h4>

  <h6>Action</h6>
  <div>
    <span class="btn-sm btn-success mt-2">S = Submit</span>
    <span class="btn-sm btn-new mt-2">E = Edit</span>
    <span class="btn-sm btn-danger mt-2">D = Delete</span>
  </div>

  <h6 class="mt-4">Filter:</h6>
  <div class="row">
    <%= button_to "All", leaveaps_path, method: "get", remote: true, class: "col btn btn-sm badge-secondary m-2" %>
    <%= button_to "#{@backup_lists.where(status_leave_id: 1).count} Not Submit" , leaveaps_path, params: {value: 1}, method: "get", remote: true, class: "col btn btn-sm badge-secondary m-2" %>
    <%= button_to "#{@backup_lists.where(status_leave_id: 2).count} Pending" , leaveaps_path, params: {value: 2}, method: "get", remote: true, class: "col btn btn-sm badge-primary m-2" %>
    <%= button_to "#{@backup_lists.where(status_leave_id: 3).count} Rejected" , leaveaps_path, params: {value: 3}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
    <%= button_to "#{@backup_lists.where(status_leave_id: 4).count} Approved" , leaveaps_path, params: {value: 4}, method: "get", remote: true, class: "col btn btn-sm badge-success m-2" %>
  </div>
  <br>
  <%= render partial: "leaveaps/table", local: @leaveaps %>
</div>