      <% l = @leaveap %>
            <td><%=l.employee.full_name%></td>
            <td><%=l.leavetype.name%></td>
            <td class="text-wrap long-text-break" style="max-width: 10rem;"><%=l.reason%></td>
            <td><%=l.contact_person%></td>
            <td><%=l.contact_number%></td>
            <td><%=l.from_date%> <%=l.from_ampm%></td>
            <td><%=l.to_date%> <%=l.to_ampm%></td>
            <td><%=l.total_days%></td>
            <td><%= (link_to "Click", "http://#{l.url}", target: "_blank") if l.attachment_link.present? %></td>
            <td><%=(time_ago_in_words(l.submitted_at).chomp("about")) if l.submitted_at%></td>
            <td><span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span></td>
            <td>
              <% if [2].include?(l.status_leave_id) %>
                <% if l.apv_mgr_1_id == current_user.employee.id %>
                  <% unless l.apv_1 %>
                  <div class="row">
                    <%= button_to 'Approve', approve_leaveap_path(l, value: 1), class: "btn-sm btn-success col", method: 'post', remote: true %>
                    <%= button_to 'Reject', reject_leaveap_path(l, value: 1), class: "btn-sm btn-danger col", method: 'post', remote: true %>
                  </div>
                  <% end %>
                <% elsif l.apv_mgr_2_id == current_user.employee.id %>
                  <% unless l.apv_2 %>
                    <%= button_to 'Approve', approve_leaveap_path(l, value: 2), class: "btn-sm btn-success col", method: 'post', remote: true %>
                    <%= button_to 'Reject', reject_leaveap_path(l, value: 2), class: "btn-sm btn-danger col", method: 'post', remote: true %>
                  <% end %>
                <% end %>
              <% end %>
            </td>