            <% l = @leaveap %>
            <td><%=l.leavetype.name%></td>
            <td><%=l.reason%></td>
            <td><%=l.contact_person%></td>
            <td><%=l.contact_number%></td>
            <td><%=l.from_date%> <%=l.from_ampm%></td>
            <td><%=l.to_date%> <%=l.to_ampm%></td>
            <td><%=l.total_days%></td>
            <td><%= (link_to "Click", "http://#{l.url}", target: "_blank") if l.attachment_link.present? %></td>
            <td><%=(time_ago_in_words(l.submitted_at).chomp("about")) if l.submitted_at%></td>
            <td><span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span></td>
            <td>
              <% if current_user %>
                <% if l.allowed_edit? %>
                <div class="row">
                  <%= button_to 'S', submit_leaveap_path(l), class: "btn-sm btn-success col", method: 'post', remote: true %>
                  <%= button_to 'E', edit_leaveap_path(l), class: "btn-sm btn-new col", method: 'get', remote: true %>
                  <%= button_to 'D', l, method: :delete, class: "btn-sm btn-danger col", method: 'destroy', remote: true, data: { confirm: 'Are you sure to delete this task?' } %>
                </div>
                <% end %>
              <% end %>
            </td>