<% @leaveaps.each do |l| %>

<tr>
    <td><%=l.leavetype.name%></td>
    <td><%=l.reason%></td>
    <td><%=l.contact_person%></td>
    <td><%=l.contact_number%></td>
    <td><%=l.from_date%> <%=l.from_ampm%></td>
    <td><%=l.to_date%> <%=l.to_ampm%></td>
    <td><%=l.total_days%></td>
    <% if current_user %>
    <td>
        <% unless l.submitted %>
        <span class="bg-info rounded p-1 m-1"><%= link_to 'Submit', submit_leaveap_path(l), class: "small text-white", method: 'post', remote: true %></span>
        <span class="bg-success rounded p-1 m-1"><%= link_to 'Edit', edit_leaveap_path(l), class: "small text-white", remote: true %></span>
        <span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', l, method: :delete, class: "small text-white", remote: true, data: { confirm: 'Press ok to confirm you submission.' } %></span>
        <% else %>
        <% if l.apv_mgr_1%>
            <li><%=l.apv_mgr_1.employee.full_name%> : <%="Approved" if l.apv_1%><%="Pending" unless l.apv_1%></li>
        <% end %>
        <% if l.apv_mgr_2%>
            <li><%=l.apv_mgr_2.employee.full_name%> : <%="Approved" if l.apv_2%><%="Pending" unless l.apv_2%></li>
        <% end %>
        <% end %>
    </td>
    <% end %>
</tr>

<% end %>