<table id="leave-table" class="table table-sm table-responsive-xl" style="font-size:0.7rem">

  <thead class="text-dark">
    <tr>
      <th>Leave</th>
      <th>Reason</th>
      <th>Contact</th>
      <th>Person</th>
      <th>From</th>
      <th>To</th>
      <th>Days</th>
      <th>Attachment</th>
      <th>Submitted</th>
      <th>Status</th>
      <% if current_user %>
      <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="text-dark">
      <% unless @leaveaps.nil? %>
      <% @leaveaps.each do |l| %>
        <tr id="lv-<%=l.id%>">
            <td><%=l.leavetype.name%></td>
            <td><%=l.reason%></td>
            <td><%=l.contact_person%></td>
            <td><%=l.contact_number%></td>
            <td><%=l.from_date%> <%=l.from_ampm%></td>
            <td><%=l.to_date%> <%=l.to_ampm%></td>
            <td><%=l.total_days%></td>
            <td><%= (link_to "Click", "http://#{l.url}", target: "_blank") if l.attachment_link.present? %></td>
            <td><%=(time_ago_in_words(l.submitted_at).chomp("about")) if l.submitted_at%></td>
            <td><span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span></td>
            <td>
              <% if current_user %>
                <% if l.allowed_edit? %>
                <div class="row">
                  <%= button_to 'S', submit_leaveap_path(l), class: "btn-sm btn-success col", method: 'post', remote: true %>
                  <%= button_to 'E', edit_leaveap_path(l), class: "btn-sm btn-new col", method: 'get', remote: true %>
                  <%= button_to 'D', l, method: :delete, class: "btn-sm btn-danger col", method: 'delete', remote: true, data: { confirm: 'Are you sure to delete this task?' } %>
                </div>
                <% end %>
              <% end %>
            </td>
        </tr>
      <% end %>
      <% end %>
  </tbody>
</table>


<script>
loadjs('#leave-table', 5, 25, 'Blfrtip');
</script>