<%= form_for @expense_list, remote: true do |f| %>

  <div class="text-danger small"><i>* Mandatory Input</i></div>

    <div class="row text-dark text-special mt-2 mb-3">
    
      <div class="col-lg-3 mb-2">
        <label>Date*</label>
        <div><%= f.text_field :date, class: "form-control form-control-sm", disabled: true %></div>
      </div>
      
      <div class="col-lg-3 mb-2">
        <label>Project*</label>
        <div><%= f.select(:project_id, Project.order("name asc").collect {|l| [ l.name, l.id ] }, {include_blank: "Select Project"}, class: "custom-select custom-select-sm") %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Fuel (MYR)</label>
        <div><%= f.text_field :fuel_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Toll (MYR)</label>
        <div><%= f.text_field :toll_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Parking (MYR)</label>
        <div><%= f.text_field :parking_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Allowance (MYR)</label>
        <div><%= f.text_field :allowance_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Medical (MYR)</label>
        <div><%= f.text_field :medical_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Others (MYR)</label>
        <div><%= f.text_field :others_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Odometer (KM)</label>
        <div><%= f.text_field :odometer_reading, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Remarks</label>
        <div><%= f.text_field :remarks, placeholder: "If Fill Others, Please Comment Here", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Attachment*</label>
        <div><%= f.text_field :attachment_link, placeholder: "eg: google drive url", class: "form-control form-control-sm" %></div>
      </div>
      
    </div>
    
<% end %>