<div class="text-special">
    <div id="expense-lists-new" class="mt-4 mb-4 p-4 bg-glass rounded">
        <%= render partial: "expense_lists/new" %>
    </div>

    <div id="my-expense-search" class="mt-4 mb-4 p-4 bg-glass rounded">
        <div class="form">
            <%= form_tag expense_lists_path, method: 'get', remote: true do %>
              <div class="row">
                <div class="col-lg-3 col-md-4">
                  <label>Year</label>
                  <%= select_tag :year, options_for_select(Date.today.year-1..Date.today.year,@year), class: "custom-select custom-select-sm"  %>
                </div>
                <div class="col-lg-3 col-md-4">
                  <label>Month</label>
                  <%= select_tag :month, options_for_select(1..12,@month), class: "custom-select custom-select-sm"  %>
                </div>
                <div class="col-lg-3 col-md-4">
                  <label>Status</label>
                  <%= select_tag :status, options_for_select([["All",0],["Approved",6],["Rejected(FM)",5],["Approved(PM)",4],["Rejected(PM)",3],["Pending(PM)",2],["Not Submit",1]],@status), class: "custom-select custom-select-sm" %>
                </div>
                <div class="col-lg-3 col-md-4 my-4">
                  <%= submit_tag "Search", class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
        </div>
    </div>


    <div class="mt-4 mb-4 p-4 bg-glass rounded">
        <div class="mt-2 mb-2">
            <span class="badge">Guide >></button>
            <span class="btn-sm btn-success">S</span> Submit
            <span class="btn-sm btn-new">E</span> Edit
            <span class="btn-sm btn-danger">D</span> Delete
        </div>
        <div class="mt-2 mb-2">
            <span class="badge">Shortcuts >></button>
            <button class="btn-sm btn-success" id="em-submitall">Submit All</button>
        </div>
        <div id="employee-result">
            <%= render partial: "reports/table_expense" %>
        </div>
    </div>
</div>

<script>
  loadjs('#expense-details', 0, 25, 'Blfrtip');

  $('#em-submitall').on('click', function () {
    if (confirm("Press OK to confirm this action") == true){
      var table = $('#expense-details').DataTable();
      var arr = table.rows({ search: 'applied' }).ids().toArray();
      for(var i=0; i < arr.length; i++) {
        arr[i] = parseInt(arr[i].replace('ex-', ''));
      }
      $.ajax({
        type: "POST",
        url: '/expense_lists/submitall',
        data: { ids: JSON.stringify(arr) }
      });
    }
  });

  </script>