<h4 class="text-success">Project Expense Approval</h4>

<button class="btn-sm btn-success mt-2" id="one-click-approve">Approve All Pending Items In Current Table</button>
<br>
<div class="row">
  <%= button_to "All", project_expense_lists_path, method: "get", remote: true, class: "col btn btn-sm badge-secondary m-2" %>
  <%= button_to "#{@backup_lists.where(status_expense_id: 2).count} Pending (PM)" , project_expense_lists_path, params: {value: 2}, method: "get", remote: true, class: "col btn btn-sm badge-primary m-2" %>
  <%= button_to "#{@backup_lists.where(status_expense_id: 3).count} Rejected (PM)" , project_expense_lists_path, params: {value: 3}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
  <%= button_to "#{@backup_lists.where(status_expense_id: 4).count} Pending (FM)" , project_expense_lists_path, params: {value: 4}, method: "get", remote: true, class: "col btn btn-sm badge-info m-2" %>
  <%= button_to "#{@backup_lists.where(status_expense_id: 5).count} Rejected (FM)" , project_expense_lists_path, params: {value: 5}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
  <%= button_to "#{@backup_lists.where(status_expense_id: 6).count} Approved" , project_expense_lists_path, params: {value: 6}, method: "get", remote: true, class: "col btn btn-sm badge-success m-2" %>
</div>
<br>

<div id="expense-lists-section">
  <table id="expense-lists-table" class="table table-sm table-responsive-lg mt-4" style="font-size:0.7rem">
    
    <thead class="text-dark">
      <tr>
        <td class="<%= "text-success" if t.holiday>0 %>"><%=t.date%></td>
        <th>Employee</th>
        <th>Project</th>
        <th>PM</th>
        <th style="width:5rem;">Claims (MYR)</th>
        <th>Odometer (KM)</th>
        <th>Attachment</th>
        <th>Submitted</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="text-dark" id="timesheet-row">
        <% unless @expense_lists.nil? %>
        <% @expense_lists.each do |t| %>
        <tr id="el-<%=t.id%>">
            <td class="<%= "text-success" if t.holiday? %>"><%=t.date%></td>
            <td><%=t.employee.full_name%></td>
            <td><%=t.project.name%></td>
            <td><%=t.project.manager.full_name%></td>
            <td>
            <ul class="list-unstyled">
              <li><%= ("Fuel: " + t.fuel_claim.to_s) if t.fuel_claim > 0 %></li>
              <li><%= ("Toll: " + t.toll_claim.to_s) if t.toll_claim > 0 %></li>
              <li><%= ("Parking: " + t.parking_claim.to_s) if t.parking_claim > 0 %></li>
              <li><%= ("Allowance: " + t.allowance_claim.to_s) if t.allowance_claim > 0 %></li>
              <li><%= ("Medical: " + t.medical_claim.to_s) if t.medical_claim > 0 %></li>
              <li><%= ("Others: " + t.others_claim.to_s) if t.others_claim > 0 %></li>
            </ul>
            </td>
            <td><%=t.odometer_reading%></td>
            <td><%= (link_to "Click", "http://#{t.url}", target: "_blank") if t.attachment_link.present? %></td>
            <td><%= time_ago_in_words(t.submitted_at) if t.submitted_at %></td>
            <td><span class="badge badge-<%=t.status_expense.css%>"><%=t.status_expense.name%></span></td>
            <td>
            <% if t.project.manager.id == current_user.employee.id %>
              <% if [2].include?(t.status_expense_id) %>
                <div class="row">
                  <%= button_to 'Approve', approvepm_expense_list_path(t), class: "btn-sm btn-success col", method: 'post', remote: true %>
                  <%= button_to 'Reject', rejectpm_expense_list_path(t), class: "btn-sm btn-danger col", method: 'post', remote: true %>
                </div>
              <% end %>
            <% end %>
            </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>

  <script>
  loadjs('#expense-lists-table', 0, 25, 'Blfrtip');

  $('#one-click-approve').on('click', function () {
    if (confirm("Press OK to confirm this action") == true){
      var table = $('#expense-lists-table').DataTable();
      var arr = table.rows({ search: 'applied' }).ids().toArray();
      for(var i=0; i < arr.length; i++) {
        arr[i] = parseInt(arr[i].replace('el-', ''));
      }
      $.ajax({
        type: "POST",
        url: '/expense_lists/approvepmall',
        data: { ids: JSON.stringify(arr) }
      });
    }
  });

  </script>
</div>