<% t = @expense_list %>
            <td class="<%= "text-success" if t.holiday? %>"><%=t.date%></td>
            <td>
              <ul class="list-unstyled">
                <li><%=t.project.name%></li>
                <li class="small">(<%=t.project.manager.full_name%>)</li>
              </ul>
            </td>
            <td>
            <ul class="list-unstyled">
              <li><%= ("Fuel: " + t.fuel_claim.to_s) if t.fuel_claim > 0 %></li>
              <li><%= ("Toll: " + t.toll_claim.to_s) if t.toll_claim > 0 %></li>
              <li><%= ("Parking: " + t.parking_claim.to_s) if t.parking_claim > 0 %></li>
              <li><%= ("Allowance: " + t.allowance_claim.to_s) if t.allowance_claim > 0 %></li>
              <li><%= ("Medical: " + t.medical_claim.to_s) if t.medical_claim > 0 %></li>
              <li><%= ("Others: " + t.others_claim.to_s) if t.others_claim > 0 %></li>
            </ul>
            </td>
            <td><%=t.odometer_reading%></td>
            <td><%= (link_to "Click", "http://#{t.url}", target: "_blank") if t.attachment_link.present? %></td>
            <td><%=(time_ago_in_words(t.submitted_at).chomp("about")) if t.submitted_at%></td>
            <td><span class="badge badge-<%=t.status_expense.css%>"><%=t.status_expense.name%></span></td>
            <td>
              <% if t.employee_id == current_user.employee.id %>
                <% if t.allowed_edit? %>
                <span class="mt-2"><%= link_to 'S', submit_expense_list_path(t), method: :post, class: "btn-sm btn-success", remote: true %></span>
                <span class="mt-2"><%= link_to 'E', edit_expense_list_path(t), class: "btn-sm btn-new", remote: true %></span>
                <span class="mt-2"><%= link_to 'D', t, method: :delete, class: "btn-sm btn-danger", remote: true, data: { confirm: 'Are you confirm to delete this Expense Claim?' } %></span>
                <% end %>
              <% end %>
            </td>