<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "New Project", new_project_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<br>
<div class="row">
  <%= button_to "All", projects_path, method: "get", remote: true, class: "col btn btn-sm badge-secondary m-2" %>
  <%= button_to "Active" , projects_path, params: {value: 0}, method: "get", remote: true, class: "col btn btn-sm badge-success m-2" %>
  <%= button_to "Archieved" , projects_path, params: {value: 1}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
</div>
<br>

<div id="project-table">
  <%= render partial: "projects/table" %>
</div>