<table id="projects-table" class="table table-sm table-responsive-lg" style="font-size:0.7rem">
  <h4 class="text-left text-primary">Project Lists</h4>
  <p class="text-info">Total: <%= @projects.count %></p>
  <thead>
    <tr>
      <th>Name</th>
      <th>PM</th>
      <th>PM 2</th>
      <th>Description</th>
      <th>Vendor</th>
      <th>Operator</th>
      <th>Status</th>
      <% if current_user.webrole.wr_hr %>
      <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="text-dark">
    <% unless @projects.nil? %>
    <% @projects.each do |e| %>
    <tr>
        <td><%=e.name%></td>
        <td><%=e.manager.full_name if e.manager %></td>
        <td><%=e.manager_alt.full_name if e.manager_alt %></td>
        <td><%=e.description%></td>
        <td><%=e.vendor%></td>
        <td><%=e.operator%></td>
        <td><%=e.project_status%></td>
        <% if current_user.webrole.wr_hr %>
        <td>
          <span class="bg-success rounded p-1 m-1"><%= link_to 'Edit', edit_project_path(e), class: "small text-white m-1", remote: true %></span>
        </td>
        <% end %>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<script>
loadjs('#projects-table', [0,'asc'], 25, 'Blfrtip');
</script>
