<%= form_for @timesheet, remote: true do |f| %>
    <%= f.hidden_field :employee_id, value: current_user.employee.id %>

    <% unless action_name == "edit"%>
    <div class="row text-dark mt-2 mb-3 datepicker input-daterange">
      <div class="form-group col-lg-6">
        <label>From</label>
        <div class="input-group">
          <%= f.text_field :multi_date_from, class: "form-control form-control-sm", placeholder: "Please Select" %>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label>To</label>
        <div class="input-group input-group-alternative">
          <%= f.text_field :multi_date_to, class: "form-control form-control-sm", placeholder: "Please Select" %>
        </div>
      </div>
    </div>
    <% else %>
      <div><% @timesheet.date %></div>
    <% end %>

    <div class="row text-dark text-special mt-2 mb-3">
    
      <div class="col-lg-3 mb-2">
        <label>Category</label>
        <div><%= f.select(:timesheet_category_id, TimesheetCategory.all.collect {|l| [ l.name, l.id ] }, {include_blank: "Select Category"}, class: "custom-select custom-select-sm") %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Project</label>
        <div><%= f.select(:project_id, Project.all.collect {|l| [ l.name, l.id ] }, {include_blank: "Select Project"}, class: "custom-select custom-select-sm") %></div>
      </div>

      <div class="col-lg-6 mb-2">
        <label>Activity</label>
        <div><%= f.text_field :activity, placeholder: "Activity", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-2 mb-2">
        <label>Time In</label>
        <%= f.select(:time_in, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], {include_blank: "Time In"}, class: "custom-select custom-select-sm") %>
      </div>

      <div class="col-lg-2 mb-2">
        <label>Time Out</label>
        <%= f.select(:time_out, [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], {include_blank: "Time Out"}, class: "custom-select custom-select-sm") %>
      </div>

      <div class="col-lg-2 mb-2">
        <label>Time Break</label>
        <%= f.select(:time_break, [0,1,2,3,4,5], {include_blank: "Time Out"}, class: "custom-select custom-select-sm") %>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Site Name</label>
        <div><%= f.text_field :site_name, placeholder: "Site Name", class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Location</label>
        <div><%= f.text_field :location, placeholder: "Location", class: "form-control form-control-sm" %></div>
      </div>

    </div>

    <% unless action_name == "edit"%>
    <div class="mx-auto">
      <%= f.submit "Create Timesheet", class: "btn btn-primary", data: { confirm: 'Are you confirm with your timesheet application?' } %>
    </div>
    <% end %>
    
<% end %>


<script>

$(function(){

  $('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    daysOfWeekDisabled: [6,0],
    todayHighlight: true
  })

});

</script>




