<table class="table table-sm table-responsive-lg mt-4" style="font-size:0.8rem">
    
    <h6>Total Hours: <%=@timesheet.total_hours%></h6>
    <h6>Total Wages: RM<%=@timesheet.total_wages%></h6>

    <thead class="text-dark">
      <tr>
        <th>Date</th>
        <th>Activity</th>
        <th style="width:5rem;">Time In</th>
        <th style="width:5rem;">Time Out</th>
        <th style="width:5rem;">Time Break</th>
        <th style="width:10rem;">Working Hours</th>
        <th style="width:5rem;">Wages(RM)</th>
        <th>Site Name</th>
        <th>Location</th>
        <% if (current_user == @timesheet.employee.user) & (@timesheet.submitted == false) %>
        <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="text-dark" id="timesheet-row">
        <% @tasks = @timesheet.timesheet_tasks %>
        <% unless @tasks.nil? %>
        <% @tasks.each do |t| %>
        <tr>
            <td><%=t.date%></td>
            <td><%=t.activity%></td>
            <td><%=t.time_in%></td>
            <td><%=t.time_out%></td>
            <td><%=t.time_break%></td>
            <td><%=t.total_hours%></td>
            <td><%=t.total_wages%></td>
            <td><%=t.site_name%></td>
            <td><%=t.location%></td>
            <% if (current_user == @timesheet.employee.user) & (@timesheet.submitted == false) %>
            <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', t, method: :delete, class: "small text-white", remote: true, data: { confirm: 'Press ok to confirm you submission.' } %></span></td>
            <% end %>
        </tr>
        <% end %>
        <% end %>

    </tbody>
    
</table>