<% @employees = Employee.all %>
<h4 class="text-left text-primary">Employees Account</h4>
<table id="webuser-table" class="table table-sm table-responsive-lg" style="font-size:0.7rem">
  <thead class="text-dark">
    <tr>
      <th>Employee</th>
      <th>Department</th>
      <th>Position</th>
      <th>Login Username</th>
      <th>Login Email</th>
      <th>Webrole</th>
      <% if current_user.webrole.wr_it %>
      <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="text-dark">
  <% unless @employees.nil? %>
  <% @employees.each do |e| %>
    <tr>
      <td><%=e.full_name%></td>
      <td><%=e.department.name%></td>
      <td><%=e.employee_position.position%></td>
      <td>
        <%= e.user.username if e.user %>
        <% unless e.user%>
        <span class="bg-info rounded p-1 m-1"><%= link_to 'Create', make_user_path(e), class: "small text-white", method: 'post', remote: true, data: { confirm: 'Please confirm this action.' } %></span>
        <% end %>
      </td>
      <td><%=e.company_email%></td>
      <td><%=e.user.webrole.role if e.user%></td>
      <% if current_user.webrole.wr_it %>
      <td>
        <% if e.user %>
        <span class="bg-success rounded p-1 m-1"><%= link_to 'Change', role_user_path(e.user), class: "small text-white", remote: true %></span>
        <% end %>
      </td>
      <% end %>
    </tr>
    
  <% end %>
  <% end %>
  </tbody>
</table>


<script>
loadjs('#webuser-table', 0, 50, 'Blfrtip');
</script>
