<% @webroles = Webrole.all %>
<h4 class="text-left text-primary">Webrole List (Read/Write)</h4>
<table id="webrole-table" class="table table-sm table-responsive" style="font-size:0.7rem">
  
  <thead class="text-dark">
    <tr>
      <th>Webrole</th>
      <th>Description</th>
      <th><span class="text-success">HR</span></th>
      <th><span class="text-info">FIN</span></th>
      <th><span class="text-primary">PM</span></th>
      <th><span class="text-danger">IT</span></th>
      <th><span class="text-warning">Employee</span></th>
    </tr>
  </thead>

  <tbody class="text-dark">
  <% unless @webroles.nil? %>
  <% @webroles.each do |w| %>
    <tr>
      <td><%=w.role%></td>
      <td><%=w.description%></td>
      <td><%=w.vw_hr%>/<%=w.wr_hr%></td>
      <td><%=w.vw_finance%>/<%=w.wr_finance%></td>
      <td><%=w.vw_pro_mgr%>/<%=w.wr_pro_mgr%></td>
      <td><%=w.vw_it%>/<%=w.wr_it%></td>
      <td><%=w.vw_emp%>/<%=w.wr_emp%></td> 
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>