<% if TimesheetApproval.exists?(employee_id: current_user.employee.id, session: @session) %>

  <% @approval = TimesheetApproval.find_by(employee_id: current_user.employee.id, session: @session) %>

  <div>Your monthly Timesheet approval for <span class="text-success"><%= @session %></span> have been submitted.</div>
  <div>Approval Status </div>
  <% unless @approval.apv_mgr_1_id.nil? %>
    <p>Approval 1: <%= @approval.apv_mgr_1.employee.first_name %> <%= @approval.apv_1 %></p>
  <% end %>
  <% unless @approval.apv_mgr_2_id.nil? %>
    <p>Approval 2: <%= @approval.apv_mgr_2.employee.first_name %> <%= @approval.apv_2 %></p>
  <% end %>
  
<% else %>

  <% @timesheet_approval = TimesheetApproval.new %>

  <%= form_for @timesheet_approval, remote: true do |f| %>
      <%= f.hidden_field :employee_id, value: current_user.employee.id %>
      <%= f.hidden_field :session, value: @session %>

      <% getid = Webrole.find_by(role: "Project Manager") %>
      <div class="row mt-2 mb-3">
        <div class="col-lg-3 col-md-6 mb-2">
          <div>Approval 1</div>
          <div><%= f.select(:apv_mgr_1_id, User.where(webrole_id: getid).joins(:employee).pluck(:first_name,:id), {include_blank: "Select Manager Approval"}, class: "custom-select custom-select-sm") %></div>
        </div>
        <div class="col-lg-3 col-md-6 mb-2">
          <div>Approval 2</div>
          <div><%= f.select(:apv_mgr_2_id, User.where(webrole_id: getid).joins(:employee).pluck(:first_name,:id), {include_blank: "Select Manager Approval"}, class: "custom-select custom-select-sm") %></div>
        </div>
      </div>
      

      <div class="mx-auto">
        <%= f.submit "Submit Timesheet", class: "btn btn-info", method: "post", data: { confirm: 'Are you confirm submit timesheet to manager?' } %>
      </div>
  <% end %>

<% end %>