<h4 class="text-success">Project Timesheet Approval</h4>

<button class="btn-sm btn-success mt-2" id="one-click-approve">Approve All Pending Items In Current Table</button>
<br>
<div class="row">
  <%= button_to "All", project_timesheet_tasks_path, method: "get", remote: true, class: "col btn btn-sm badge-secondary m-2" %>
  <%= button_to "#{@backup_lists.where(status_timesheet_id: 2).count} Pending (PM)" , project_timesheet_tasks_path, params: {value: 2}, method: "get", remote: true, class: "col btn btn-sm badge-primary m-2" %>
  <%= button_to "#{@backup_lists.where(status_timesheet_id: 3).count} Rejected (PM)" , project_timesheet_tasks_path, params: {value: 3}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
  <%= button_to "#{@backup_lists.where(status_timesheet_id: 4).count} Pending (FM)" , project_timesheet_tasks_path, params: {value: 4}, method: "get", remote: true, class: "col btn btn-sm badge-info m-2" %>
  <%= button_to "#{@backup_lists.where(status_timesheet_id: 5).count} Rejected (FM)" , project_timesheet_tasks_path, params: {value: 5}, method: "get", remote: true, class: "col btn btn-sm badge-danger m-2" %>
  <%= button_to "#{@backup_lists.where(status_timesheet_id: 6).count} Approved" , project_timesheet_tasks_path, params: {value: 6}, method: "get", remote: true, class: "col btn btn-sm badge-success m-2" %>
</div>
<br>

<div id="timesheet-tasks-section">
  <table id="timesheet-tasks-table" class="table table-sm table-responsive-lg mt-4 w-100" style="font-size:0.7rem">
    
    <thead class="text-dark">
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Project</th>
        <th>Activity</th>
        <th>Working Hours</th>
        <th>DT Info</th>
        <th>Submitted</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody class="text-dark" id="timesheet-row">
        <% unless @timesheet_tasks.nil? %>
        <% @timesheet_tasks.each do |t| %>
        <tr id="ts-<%=t.id%>">
            <td class="<%= "text-success" if t.holiday? %>"><%=t.date%></td>
            <td><%=t.employee.full_name%></td>
            <td><%=t.project.name%></td>
            <td><%=t.activity%></td>
            <td><%=t.working_hours%></td>
            <td>
              <ul class="list-unstyled">
                <li><%=t.site_name%></li>
                <li><%=t.project_region.name if t.project_region %></li>
                <li><%=t.vehicle_number%></li>
                <li><%=t.vehicle_owner.name if t.vehicle_owner %></li>
              <ul>
            </td>
            <td><%=(time_ago_in_words(t.submitted_at).chomp("about")) if t.submitted_at%></td>
            <td><span class="badge badge-<%=t.status_timesheet.css%>"><%=t.status_timesheet.name%></span></td>
            <td>
            <% if t.project.manager.id == current_user.employee.id %>
              <% if [2].include?(t.status_timesheet_id) %>
                <div class="row">
                  <%= button_to 'A', approvepm_timesheet_task_path(t), class: "btn-sm btn-success col", method: 'post', remote: true %>
                  <%= button_to 'R', rejectpm_timesheet_task_path(t), class: "btn-sm btn-danger col", method: 'post', remote: true %>
                </div>
              <% end %>
            <% end %>
            </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>

  <script>
  loadjs('#timesheet-tasks-table', 0, 25, 'Blfrtip');

  $('#one-click-approve').on('click', function () {
    if (confirm("Press OK to confirm this action") == true){
      var table = $('#timesheet-tasks-table').DataTable();
      var arr = table.rows({ search: 'applied' }).ids().toArray();
      for(var i=0; i < arr.length; i++) {
        arr[i] = parseInt(arr[i].replace('ts-', ''));
      }
      $.ajax({
        type: "POST",
        url: '/timesheet_tasks/approvepmall',
        data: { ids: JSON.stringify(arr) }
      });
    }
  });

  </script>
</div>