<h4 class="text-success">Project Timesheet Approval</h4>

<div class="text-special">
    <div id="my-timesheet-search" class="mt-4 mb-4 p-4 bg-glass rounded">
        <div class="form">
            <%= form_tag project_timesheet_tasks_path, method: 'get', remote: true do %>
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <label>Year</label>
                            <%= select_tag :year, options_for_select(Date.today.year-1..Date.today.year,@year), class: "custom-select custom-select-sm"  %>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <label>Month</label>
                            <%= select_tag :month, options_for_select(1..12,@month), class: "custom-select custom-select-sm"  %>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <label>Status</label>
                            <%= select_tag :status, options_for_select([["All",9],["Approved",6],["Rejected(FM)",5],["Pending(FM)",4],["Rejected(PM)",3],["Pending(PM)",2]],@status), class: "custom-select custom-select-sm" %>
                        </div>
                        <div class="col-lg-3 col-md-4 my-4">
                            <%= submit_tag "Search", class: "btn btn-success" %>
                        </div>
                    </div>
            <% end %>
        </div>
    </div>

    <div class="mt-4 mb-4 p-4 bg-glass rounded">
        <div class="mt-2 mb-2">
            <span class="badge">Shortcuts >></button>
            <% if current_user.webrole.wr_pro_mgr %>
            <button class="btn-sm btn-success" id="pm-approveall">PM Approve All</button>
            <% end %>
        </div>
        <div id="employee-result">
            <%= render partial: "reports/table_timesheet" %>
        </div>
    </div>
    
</div>

<script>
  loadjs('#timesheet-details', 0, 25, 'Blfrtip');
  $('#pm-approveall').on('click', function () {
    if (confirm("Press OK to confirm this action") == true){
      var table = $('#timesheet-details').DataTable();
      var arr = table.rows({ search: 'applied' }).ids().toArray();
      for(var i=0; i < arr.length; i++) {
        arr[i] = parseInt(arr[i].replace('ts-', ''));
      }
      $.ajax({
        type: "POST",
        url: '/timesheet_tasks/approvepmall',
        data: { ids: JSON.stringify(arr) }
      });
    }
  });
</script>

