<table class="table table-sm table-responsive-lg mt-4" style="font-size:0.8rem">
    
    <thead class="text-dark">
      <tr>
        <th>Manager</th>
        <th>Approval</th>
        <th>Rejection</th>
        <th>Reject Reason</th>
        <% if (@expense.submitted == false) %>
        <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="text-dark" id="expense-row">
        <% @approvals = @expense.expense_approvals %>
        <% unless @approvals.nil? %>
        <% @approvals.each do |a| %>
        <tr>
            <td><%=a.manager.full_name%></td>
            <td>
                <%="Pending" unless a.approval%>
                <%="Approved" if a.approval%>
            </td>
            <td><%="Rejected" if a.reject%></td>
            <td><%=a.reject_reason%></td>
            <% if (@expense.submitted == false) %>
            <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', a, method: :delete, class: "small text-white", remote: true, data: { confirm: 'Please Confirm' } %></span></td>
            <% end %>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>