<table class="table table-sm table-responsive-lg mt-4" style="font-size:0.8rem">
    
    <thead class="text-dark">
      <tr>
        <th>Date</th>
        <th>Fuel</th>
        <th>Toll</th>
        <th>Parking</th>
        <th>Allowance</th>
        <th>Medical</th>
        <th>Others</th>
        <% if (current_user == @expense.employee.user) & (@expense.submitted == false) %>
        <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="text-dark" id="expense-row">
        <% @lists = @expense.expense_lists %>
        <% unless @lists.nil? %>
        <% @lists.each do |t| %>
        <tr>
            <td><%=t.date%></td>
            <td><%=t.fuel_claim%></td>
            <td><%=t.toll_claim%></td>
            <td><%=t.parking_claim%></td>
            <td><%=t.allowance_claim%></td>
            <td><%=t.medical_claim%></td>
            <td><%=t.others_claim%></td>
            <% if (current_user == @expense.employee.user) & (@expense.submitted == false) %>
            <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', t, method: :delete, class: "small text-white", remote: true, data: { confirm: 'Press ok to confirm you submission.' } %></span></td>
            <% end %>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>