<%= form_for @list, remote: true do |f| %>

    <%= f.hidden_field :employee_id, value: current_user.employee.id %>
    <%= f.hidden_field :expense_id, value: @expense.id %>

    <div class="row text-dark mt-2 mb-3 datepicker input-daterange">

      <div class="form-group col-lg-4">
        <label>Project</label>
        <div><%= f.select(:project_id, Project.all.collect {|l| [ l.name, l.id ] }, {include_blank: "Select Project"}, class: "custom-select custom-select-sm") %></div>
      </div>

      <div class="form-group col-lg-4">
        <label>From</label>
        <div class="input-group">
          <%= f.text_field :multi_date_from, class: "form-control form-control-sm", placeholder: "Please Select" %>
        </div>
      </div>

      <div class="form-group col-lg-4">
        <label>To</label>
        <div class="input-group input-group-alternative">
          <%= f.text_field :multi_date_to, class: "form-control form-control-sm", placeholder: "Please Select" %>
        </div>
      </div>

    </div>

    <div class="row text-dark text-special mt-2 mb-3">
      <div class="col-lg-3 mb-2">
        <label>Fuel</label>
        <div><%= f.text_field :fuel_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Toll</label>
        <div><%= f.text_field :toll_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Parking</label>
        <div><%= f.text_field :parking_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Allowance</label>
        <div><%= f.text_field :allowance_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Medical</label>
        <div><%= f.text_field :medical_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Others</label>
        <div><%= f.text_field :others_claim, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>

      <div class="col-lg-3 mb-2">
        <label>Remarks</label>
        <div><%= f.text_field :remarks, placeholder: 0.0, class: "form-control form-control-sm" %></div>
      </div>
      
    </div>

    <div class="mx-auto">
      <%= f.submit "Create List", class: "btn btn-primary", data: { confirm: 'Please Confirm' } %>
    </div>
    
<% end %>


<script>

$(function(){

  $('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    daysOfWeekDisabled: [6,0],
    todayHighlight: true
  })

});

</script>