<ul class="nav nav-tabs text-special" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="timesheet-tab" data-toggle="tab" href="#timesheet" role="tab" aria-controls="timesheet" aria-selected="true">Timesheet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="expense-tab" data-toggle="tab" href="#expense" role="tab" aria-controls="expense" aria-selected="false">Expense</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="leave-tab" data-toggle="tab" href="#leave" role="tab" aria-controls="leave" aria-selected="false">Leave</a>
  </li>
</ul>

<div class="tab-content text-special" id="myTabContent">
  <div class="tab-pane fade show active" id="timesheet" role="tabpanel" aria-labelledby="timesheet-tab">
    <br>
    <div class="row">
      <%= render partial: "table_timesheet" %>
    </div>
  </div>
  <div class="tab-pane fade" id="expense" role="tabpanel" aria-labelledby="expense-tab">
    <br>
    <div class="row">
      <%= render partial: "table_expense" %>
    </div>
  </div>
  <div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="leave-tab">
    <br>
    <div class="row">
      <%= render partial: "table_leave" %>
    </div>
  </div>

</div>


<script>
function timesheet() {
  filename = "Timesheet_" + "<%=  @year.to_s + format('%02d', @month).to_s  %>" + "_" + "<%=@employee.full_name.parameterize.underscore %>"
  return filename;
}
function leave() {
  filename = "Leave_" + "<%=  @year.to_s + format('%02d', @month).to_s  %>" + "_" + "<%=@employee.full_name.parameterize.underscore %>"
  return filename;
}
function expense() {
  filename = "Expense_" + "<%=  @year.to_s + format('%02d', @month).to_s  %>" + "_" + "<%=@employee.full_name.parameterize.underscore %>"
  return filename;
}
loadjs('#timesheet-details', [0,'asc'], 50, 'B', timesheet());
loadjs('#expense-details', [0,'asc'], 50, 'B', expense());
loadjs('#leave-details', [0,'asc'], 50, 'B', leave());
</script>
