<div class="col-12">
  <h4 class="text-left text-primary">Project Summary <%= @year %>-<%= @month %></h4>
</div>

<div class="col-12">
  <table id="project-report" class="table table-sm table-responsive-xl" style="font-size:0.7rem">
    <thead>
      <tr>
        <th>Name</th>
        <th>PM</th>
        <th>Status</th>
        <th>Timesheet (Hours)</th>
        <th>Claim (Total)</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody class="text-dark">
      <% unless @projects.nil? %>
      <% @projects.each do |e| %>
      <tr>
          <td><%=e.name%></td>
          <td>
            <ul class="list-unstyled">
              <li><%=e.manager.full_name if e.manager %></li>
              <li><%=e.manager_alt.full_name if e.manager_alt %></li>
            </ul>
          </td>
          <td><%=e.project_status%></td>
          <td><%=e.monthly_timesheet(@year,@month,@status)%></td>
          <td><%=e.monthly_claim(@year,@month,@status)%></td>
          <td><%= link_to "CLICK", project_details_reports_path(e, :year => @year, :month => @month, :status => @status), class: "small text-primary", remote: true %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>

    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tfoot>

  </table>
</div>


<script>
loaddtsum('#project-report', [0,'asc'], 25, 'Blfrtip', 2, [3,4]);
</script>