<div class="col-12">
<table id="leave-details" class="table table-sm table-responsive-xl" style="font-size:0.7rem">
    <thead>
        <tr>
        <th>Date</th>
        <th>Days</th>
        <th>Employee</th>
        <th>Group</th>
        <th>Leave Type</th>
        <th>Reason</th>
        <th>Emergency Contact</th>
        <th>Status</th>
        <th>PM</th>
        </tr>
    </thead>

    <tbody class="text-dark">
        <% unless @leaveaps.nil? %>
        <% @leaveaps.each do |l| %>
        <tr>
        <td>
            <ul class="list-unstyled">
                <li><%=l.from_date%> <%=l.from_ampm%></li>
                <li><%=l.to_date%> <%=l.to_ampm%></li>
            </ul>
        </td>
        <td><%=l.total_days%></td>
        <td><%=l.employee.full_name%></td>
        <td>
            <ul class="list-unstyled">
                <li><%=l.employee.department.name%></li>
                <li><%=l.employee.project.name%></li>
            </ul>
        </td>

        <td><%=l.leavetype.name%></td>
        <td class="text-wrap long-text-break" style="max-width: 10rem;"><%=l.reason%></td>
        <td>
            <ul class="list-unstyled">
                <li><%=l.contact_person%></li>
                <li><%=l.contact_number%></li>
            </ul>
        </td>
        <td><span class="badge badge-<%=l.status_leave.css%>"><%=l.status_leave.name%></span></td>
        <td>
            <ul class="list-unstyled">
                <li><%=l.apv_mgr_1.full_name if l.apv_mgr_1 %></li>
                <li><%=l.apv_mgr_2.full_name if l.apv_mgr_2 %></li>
            </ul>
        </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>

</table>
</div>