<div id="announcement-board">
    <%= render partial: "announcements/board" %>
</div>

<div class="row text-special pl-4 pr-4 pt-2 pb-2 bg-chrome rounded">
    <div class="col-12 text-white">Welcome Back! <span class="text-primary"><%=current_user.employee.full_name%></span>  </div>
    <div class="col-12 text-white">Your webrole is: <span class="text-danger"><%=current_user.webrole.role%></span></div>
</div>

<div id="project-search" class="row text-dark text-special mt-4 mb-4 p-4 bg-glass rounded">
    <div class="form">
        <%= form_tag project_reports_path, method: 'get' do %>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-2">
                    <label>Project Name</label>
                    <%= select_tag :id, options_for_select(@project_lists,@project), include_blank: true, class: "custom-select custom-select-sm" %>
                </div>
                <div class="col-lg-3 col-md-4 mb-2">
                    <label>Approval Status</label>
                    <%= select_tag :status, options_for_select([["Approved Only",6],["All",1]],@status), class: "custom-select custom-select-sm" %>
                </div>
                <div class="col-lg-3 col-md-6 mb-2">
                    <label>Year</label>
                    <%= select_tag :year, options_for_select(Date.today.year-1..Date.today.year,@year), class: "custom-select custom-select-sm"  %>
                </div>
                <div class="col-lg-3 col-md-6 mb-2">
                    <label>Month</label>
                    <%= select_tag :month, options_for_select(1..12,@month), class: "custom-select custom-select-sm"  %>
                </div>
                <div class="col-lg-3 col-md-6 mb-2">
                    <%= submit_tag "Query", class: "btn btn-success" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div id="employee-result" class="row text-dark text-special mt-4 mb-4 p-4 bg-glass rounded">
    <%= render partial: "project_report" %>
</div>


<div id="project-result">
</div>